@model ETFKupon.Models.Artikal

@{
    ViewBag.Title = "Details";
}

<h2>Kupi</h2>

<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idKupon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKupon)
        </dd>
    </dl>
    <form method="POST">
        @Html.Label("", Convert.ToString((string)ViewBag.postotakSnizenja))
        <input class="form-control" name="kolicinaArtikala" id="kolicinaArtikala" type="text" placeholder="Unesite zeljenu kolicinu" />
        @Html.Label("", Convert.ToString((string)ViewBag.isplata))
        @using (Html.BeginForm("Details", "Artikal", FormMethod.Post))
        {
            <br />
            <button type="submit">Obracunaj cijenu!</button>
        }
        @Html.Label("", Convert.ToString((string)ViewBag.novac))
    </form>
    @using (Html.BeginForm("Kupovina", "Artikal", FormMethod.Post))
    {
        <br />
        <button type="submit">Kupi artikal!</button>
        
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index", "KupacBaza")
</p>
