@model IEnumerable<object>

@{

    ViewBag.Title = "Početna strana";
    List<ETFKupon.Models.Artikal> listaArtikalaFirme = Model.ToList()[0] as List<ETFKupon.Models.Artikal>;
    List<ETFKupon.Models.Kupon> listaKuponaFirme = Model.ToList()[1] as List<ETFKupon.Models.Kupon>;
}

<div class="jumbotron">
    <div style="text-align:center">
        <font size="6">Dobrodošli @Session["User"].ToString()</font>
        <input type="button" class="btn btn-default" value="Edituj profil" onclick="window.location.href='@Url.Action("Edit", "FirmaBaza",new { id= @Session["UserId"]})';" />
        <input type="button" class="btn btn-default" value="Obriši profil" onclick="window.location.href='@Url.Action("Delete", "FirmaBaza", new { id=@Session["UserId"] })';" />
        <input type="button" class="btn btn-primary btn-lg" value="Odjavi se" onclick="window.location.href='@Url.Action("Index", "Home")';" />
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Lista Artikala</h2>
<ul>
    @foreach (var item in listaArtikalaFirme)
    {
        <li>Naziv artikla: @item.Naziv, Ostalo na stanju: @item.Kolicina, Cijena: @item.Cijena</li>
    }
</ul>
<h2>Lista Kupona</h2>
<ul>
    @foreach (var item in listaKuponaFirme)
    {
        <li>Ostalo na stanju: @item.Kolicina, Postotak snizenja: @item.Postotak %</li>
    }
</ul>

<div class="dodavanjeArtikla">
    @using (Html.BeginForm("SaveRecords", "Artikal", FormMethod.Post))
    {
        <h2>Dodavanje Artikla: </h2>
        @Html.TextBoxFor(model => (model as ETFKupon.Models.Artikal).Naziv, new { @class = "fore-control", @placeholder = "Naziv artikla", @name = "nazivArtikala" })
        @Html.TextBoxFor(model => (model as ETFKupon.Models.Artikal).Kolicina, new { @class = "fore-control", @placeholder = "Kolicina artikla", @name = "kolicinaArtikala" })
        @Html.TextBoxFor(model => (model as ETFKupon.Models.Artikal).Cijena, new { @class = "fore-control", @placeholder = "Cijena artikla", @name = "cijenaArtikala" })

        @Html.DropDownList("Lista kupona", ViewBag.ListaKuponaSelekcija as List<SelectListItem>, "Odaberi kupon:")
        @Html.DropDownList("Lista interesa", ViewBag.ListaInteresaSelekcija as List<SelectListItem>, "Odaberi interes: ")
        <button type="submit">Dodaj artikal!</button>
    }

</div>

<div class="dodavanjeKupona">
    @using (Html.BeginForm("SaveRecords", "Kupon", FormMethod.Post))
    {
        <h2>Dodavanje Kupona: </h2>
        @Html.TextBoxFor(model => (model as ETFKupon.Models.Kupon).Kolicina, new { @class = "fore-control", @placeholder = "Količina", @name = "količinaKupon" })
        @Html.TextBoxFor(model => (model as ETFKupon.Models.Kupon).Postotak, new { @class = "fore-control", @placeholder = "Snjiženje", @name = "postotakKupon" })
        
        <button type="submit">Dodaj kupon!</button>
    }
</div>
