@model IEnumerable<object>

@{
    ViewBag.Title = "Početna strana";
    List<ETFKupon.Models.Interes> listaInteresa = Model.ToList()[0] as List<ETFKupon.Models.Interes>;
    List<ETFKupon.Models.Artikal> listaArtikala = Model.ToList()[1] as List<ETFKupon.Models.Artikal>;
    List<ETFKupon.Models.InteresKupca> listaInteresaKupca = Model.ToList()[2] as List<ETFKupon.Models.InteresKupca>;
}

<div class="topnav">
    <font size="6">Dobrodošao korisniče</font>
    <input type="text" placeholder="Pretraga artikala" name="pretragaArtikala">
    <button type="submit">Traži</button>
    <button>Edituj profil</button>
    <button>Obriši profil</button>
    <button>Odjavi se</button>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Lista interesa</h2>
<ul>
    @foreach (var item in listaInteresa)
    {
        <li>@item.Naziv</li>
    }
</ul>
<h2>Lista Artikala</h2>
<ul>
    @foreach (var item in listaArtikala)
    {
        <li>@item.Naziv @item.Kolicina @item.Cijena</li>
    }
</ul>
<h2>Korpa</h2>

<div class="dodavanjeInteresa">
    <h2>Dodavanje interesa: </h2>
    @Html.DropDownList("Lista interesa", ViewBag.ListaInteresaSelekcija as List<SelectListItem>, "Odaberi interes:")
    <button type="submit">Dodaj interes!</button>
</div>
